<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<nav class="border border-secondary rounded-lg">
		<ul th:fragment="nav" class="nav nav-fill light-gray">
			<li class="nav-item"><a class="nav-link text-dark" href="/moden-shop/category?productCategory=OUTER">Outer</a></li>
			<li class="nav-item"><a class="nav-link text-dark" href="/moden-shop/category?productCategory=TOP">Top</a></li>
			<li class="nav-item"><a class="nav-link text-dark" href="/moden-shop/category?productCategory=SHIRT">Shirt</a></li>
			<li class="nav-item"><a class="nav-link text-dark" href="/moden-shop/category?productCategory=PANTS">Pants</a></li>
			<li class="nav-item"><a class="nav-link text-dark" href="/moden-shop/category?productCategory=ACCESSORY">Accessory</a></li>
		</ul>
	</nav>
</html>
