<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>접근금지</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
	<div class="d-flex justify-content-center align-items-center vh-100 w-100">
		<div class="col-4">
			<div class="h1 text-center">일반회원만 접근 가능합니다</div>
			<a href="/moden-shop/home" class="btn btn-primary w-100">홈 화면으로 이동</a>
		</div>
	</div>
</body>
</html>