<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>문의하기</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/commonStyle.css">
</head>
<body>
	<div class="col-12 p-0 d-flex flex-column vh-100">
		<div class="chat-box flex-grow-1 overflow-auto light-gray">
			<!-- 채팅 내용들 -->

			<!-- 받는거 -->
			<div class="p-2">
				<div class="d-flex">
					<div
						class="inquiry-profile-img-box bg-dark d-flex justify-content-center align-items-center rounded-circle mr-2">
						<img alt="프로필이미지" src="/img/shirt.jpg"
							class="rounded-circle img-contain">
					</div>
					<div class="d-flex align-items-center bg-info px-2 rounded-lg">
						<div>ㄴㄴㄴ</div>
					</div>
				</div>
			</div>
			<!--  -->
			<!-- 보내는거 -->
			<div class="p-2">
				<div class="d-flex justify-content-end">
					<div class="d-flex align-items-center bg-warning p-2 rounded-lg">
						<div>ㄴㄴㄴ</div>
					</div>
				</div>
			</div>
			<!--  -->
		</div>


		<div>
			<div class="input-group col-12 p-0">
				<input class="form-control" type="text" placeholder="메세지를 입력해주세요..">
				<button class="btn btn-primary inquiry-chat-input-send-btn"
					type="button">보내기</button>
			</div>
		</div>
	</div>
</body>
</html>